@model IEnumerable<PharmacuticalE_Commerce.Models.Employee>

@{
    ViewBag.PageTitle="Employees";
    ViewBag.CardTitle = "Employees List";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffManagementLayout.cshtml";
}

<a asp-action="Create" class="btn btn-primary">Create New</a>
&nbsp;&nbsp;&nbsp;
<a asp-action="Shifts" class="btn btn-primary">Mange Shifts</a>
<table class="table" id="EmployeesList">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Shift</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Fname @item.Lname
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.FromTime)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-warning">Edit</a>&nbsp;&nbsp;&nbsp;

                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-info">Details</a>&nbsp;&nbsp;&nbsp;
            
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
