@model IEnumerable<PharmacuticalE_Commerce.Models.Order>
@{
    ViewBag.PageTitle = "Orders";
    ViewBag.CardTitle = "Orders List";
    Layout = "~/Views/Shared/_StaffManagementLayout.cshtml";
}

<table class="table" id="OrdersList">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Shipping Address</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.UserId</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>@order.ShippingAddress.Address</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@order.OrderId" class="btn btn-warning">Edit</a> &nbsp;&nbsp;&nbsp;
                    <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-info">Details</a> &nbsp;&nbsp;&nbsp;
                    <a asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
