@model PharmacuticalE_Commerce.Models.Product

@{
    ViewBag.PageTitle = "Products";
    ViewBag.CardTitle = $"{Model.Name} Details";
    Layout = "_StaffManagementLayout";
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/images/products/" + Model.Photo)" alt="@Model.Name" width="400" height="400" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        @if(Model.Discount!=null && Model.Discount.StartDate <= DateTime.Now && Model.Discount.EndDate >= DateTime.Now)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Discount.ValuePct)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.EndDate)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-warning">Edit</a> &nbsp;&nbsp;&nbsp;
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
