@model PaginatedList<PharmacuticalE_Commerce.Models.Product>

@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

<h1>Gallery</h1>
<form asp-action="Gallery" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by name: <input type="text" name="SearchString" value="@ViewData["SearchStringParm"]" /></label>
            <input type="hidden" name="categoryFilter" value="@ViewData["CategoryFilterParm"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Gallery" asp-route-categoryFilter="@ViewData["CategoryFilterParm"]">Back to Full List</a>
        </p>
    </div>
</form>
<a asp-action="Gallery" asp-route-searchString="@ViewData["SearchStringParm"]" asp-route-categoryFilter="@ViewData["CategoryFilterParm"]" asp-route-sortOrder="@ViewData["NameSortParm"]">Sort by @Html.DisplayName("Product Name")</a>
<br />
<a asp-action="Gallery" asp-route-searchString="@ViewData["SearchStringParm"]" asp-route-categoryFilter="@ViewData["CategoryFilterParm"]" asp-route-sortOrder="@ViewData["PriceSortParm"]">Sort by @Html.DisplayName("Price")</a>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/products/" + item.Photo)" class="card-img-top" width="300" height="300" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-subheading">@item.Category.Name</p>
                    <p class="card-text">Price: @item.Price $</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Gallery"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-searchString="@ViewData["SearchStringParm"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    &lt
</a>
<span> @Model.PageIndex of @Model.TotalPages</span>
<a asp-action="Gallery"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-searchString="@ViewData["SearchStringParm"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    &gt
</a>


@* <div id="ProductsGalleryContainer">

</div>
@section Mysection {
    <script>
        $(document).ready(function () {
            loadPage(1);
        });

        function loadPage(page) {
            $.ajax({
                url: '/Products/GetProductsGallery',
                type: 'GET',
                data: { pageNumber: page },
                success: function (result) {
                    $('#ProductsGalleryContainer').html(result);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}
 *@